<div class="jumbotron">
  <h1><%= @classroom.name %></h1>
  <h2>Professor: <%= @instructor.name %></h2>
  <%=@classroom.description %></br>
  <% if current_user.id == @instructor.id %>
    <%= link_to "Editar", :action => 'edit' %>
  <% end %>
</div>

<div class="list-group">
  <%= render @topics %>
</div>
