
<h2>Editar perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  	<%= f.label(:name, "Nome", class: "col-sm-2 control-label") %> 
  	
    <div class="col-sm-4">
    <%= f.text_field(:name, class: "form-control") %>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
  
  
  <div class="form-group">
  	<%= f.label(:surname, "Sobrenome", class: "col-sm-2 control-label") %> 
  	
    <div class="col-sm-4">
    <%= f.text_field(:surname, class: "form-control") %>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
  
  
  <div class="form-group">
  	<%= f.label(:nickname, "Apelido", class: "col-sm-2 control-label") %> 
  	
    <div class="col-sm-4">
    <%= f.text_field(:nickname, class: "form-control") %>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
  
  <div class="form-group">
  	<%= f.label(:email, "Email", class: "col-sm-2 control-label") %> 
  	
    <div class="col-sm-4">
    <%= f.email_field(:email, class: "form-control") %>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
  
  
  <div class="form-group">
  	<%= f.label(:password, "Senha", class: "col-sm-2 control-label") %> 
  	
    <div class="col-sm-4">
    <%= f.password_field(:password, class: "form-control") %>
    </div>
    <div class="col-sm-6">
    	<span id="helpBlock" class="help-block">
    	<i>(Caso não queira mudá-la, deixe em branco)</i>
    	</span>
    </div>
  </div>
  
  <div class="form-group">
  	<%= f.label(:password_confirmation, "Confirme a senha", class: "col-sm-2 control-label") %> 
  	
    <div class="col-sm-4">
    <%= f.password_field(:password_confirmation, class: "form-control") %>
    </div>
  </div>
  
  <div class="form-group">
  	<%= f.label(:current_password, "Senha atual", class: "col-sm-2 control-label") %> 
  	
    <div class="col-sm-4">
    <%= f.password_field(:current_password, class: "form-control") %>
    </div>
    <div class="col-sm-6">
    	<span id="helpBlock" class="help-block">
    	<i>Precisamos de sua senha atual para confirmar as mudanças</i>
    	</span>
    </div>
  </div>
<div class="row">
	<div class="col-sm-offset-1 col-sm-1" >
		<%= button_to "Voltar", :back, class:"btn btn-default" %>
	</div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-default">Atualizar</button>
    </div>
</div>
   </br>
<% end %>
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
		<%= button_to "Quero cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>
    </div>
</div>
