<!DOCTYPE html>
<html>
<head>
  <title>Questions</title>
  
  <!-- Styles, JS and metadata -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	
<!-- Navigation Bar -->

    <nav class="navbar navbar-fixed-top" style="margin-top: 15px">
	<div class="titobaca"> </div>
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="glyphicon glyphicon-cog" style="">                      
          </button>
          <a class="navbar-brand" rel="home" href="/" title="Dúvidas?">
        	<img style="max-width:100px; margin-top: -7px;" src="/assets/logo_nav.png">
   		 </a>
    	</div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="/classrooms">Minhas Aulas</a></li>
          	<li><a href="/questions">Minhas Dúvidas</a></li>
            <li><%= user_signed_in? ? (link_to((current_user.name + " " + current_user.surname), current_user)) : link_to("Você não está logado", new_user_session_path) %></li>
            <li><%= user_signed_in? ? link_to('Logout', destroy_user_session_path, :method => :delete) : link_to('Login', new_user_session_path) %></li>
          </ul>
        </div>
      </div>
    </nav>
    
<div class="container-fluid">
<!-- Alerts --> <!--
<%unless notice.nil?%>
<div class="alert alert-success" role="alert"> <%= notice %></div>
<%end%>
<%unless alert.nil?%>
<p class="alert"><%= alert %></p>
<%end%> -->
<%= yield %>
</div>
<nav class="navbar navbar-fixed-bottom" role="navigation">
  <div class="container">
  </div>
</nav>
</body>
</html>
